@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/iranyekan/IRANYekanXFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/iranyekan/IRANYekanXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/iranyekan/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
}

*{
  font-family : 'iranyekan'
}
